<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>about_backButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,166},{124,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,61}}</string>
                <key>sourceSize</key>
                <string>{124,61}</string>
            </dict>
            <key>bgLayer1.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>bgLayer2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{1024,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,252}}</string>
                <key>sourceSize</key>
                <string>{1024,252}</string>
            </dict>
            <key>bgLayer3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1798},{1024,214}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,214}}</string>
                <key>sourceSize</key>
                <string>{1024,214}</string>
            </dict>
            <key>bgLayer4.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,772},{1024,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,124}}</string>
                <key>sourceSize</key>
                <string>{1024,124}</string>
            </dict>
            <key>fly_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,403},{153,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,538},{153,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,533},{153,73}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,73}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1692,466},{153,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,494},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,636},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1848,459},{153,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,387},{153,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,634},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,559},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,377},{153,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,298},{153,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,557},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,532},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,380},{153,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,301},{153,77}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,77}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,482},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,480},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,456},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>fly_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,403},{153,75}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,75}}</string>
                <key>sourceSize</key>
                <string>{155,77}</string>
            </dict>
            <key>gameOver_aboutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,110},{167,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,79}}</string>
                <key>sourceSize</key>
                <string>{167,79}</string>
            </dict>
            <key>gameOver_mainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,191},{166,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,90}}</string>
                <key>sourceSize</key>
                <string>{166,90}</string>
            </dict>
            <key>gameOver_playAgainButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,283},{165,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,102}}</string>
                <key>sourceSize</key>
                <string>{165,102}</string>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2014},{29,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,30}}</string>
                <key>sourceSize</key>
                <string>{29,30}</string>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2014},{22,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2014},{25,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,23}}</string>
                <key>sourceSize</key>
                <string>{25,23}</string>
            </dict>
            <key>item4.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,2014},{23,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,24}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>item5.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2014},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>item6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,711},{56,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,55}}</string>
                <key>sourceSize</key>
                <string>{56,55}</string>
            </dict>
            <key>item7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,687},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>obstacle1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,608},{139,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,53}}</string>
                <key>sourceSize</key>
                <string>{139,53}</string>
            </dict>
            <key>obstacle1_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,434},{94,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,58}}</string>
                <key>sourceSize</key>
                <string>{94,58}</string>
            </dict>
            <key>obstacle2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,459},{79,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,71}}</string>
                <key>sourceSize</key>
                <string>{79,71}</string>
            </dict>
            <key>obstacle2_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,649},{61,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,75}}</string>
                <key>sourceSize</key>
                <string>{61,75}</string>
            </dict>
            <key>obstacle3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,671},{137,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,72}}</string>
                <key>sourceSize</key>
                <string>{137,72}</string>
            </dict>
            <key>obstacle3_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,284},{102,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,80}}</string>
                <key>sourceSize</key>
                <string>{102,80}</string>
            </dict>
            <key>obstacle4_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,608},{145,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,61}}</string>
                <key>sourceSize</key>
                <string>{145,61}</string>
            </dict>
            <key>obstacle4_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,545},{143,61}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,61}}</string>
                <key>sourceSize</key>
                <string>{145,61}</string>
            </dict>
            <key>obstacle4_crash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,366},{95,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,66}}</string>
                <key>sourceSize</key>
                <string>{95,66}</string>
            </dict>
            <key>particleEat.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,2014},{15,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,15}}</string>
                <key>sourceSize</key>
                <string>{15,15}</string>
            </dict>
            <key>particleWindForce.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2042},{286,4}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,4}}</string>
                <key>sourceSize</key>
                <string>{294,4}</string>
            </dict>
            <key>pauseButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1803,545},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,585},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2002,543},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,501},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>soundOn0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,459},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,212},{166,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,84}}</string>
                <key>sourceSize</key>
                <string>{166,84}</string>
            </dict>
            <key>watchOut_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,2},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>watchOut_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1915,229},{110,70}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,70}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>watchOut_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,212},{106,70}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,70}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>watchOut_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,84},{110,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>watchOut_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1925,2},{112,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,80}}</string>
                <key>sourceSize</key>
                <string>{112,80}</string>
            </dict>
            <key>welcome_aboutButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,403},{86,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,54}}</string>
                <key>sourceSize</key>
                <string>{86,54}</string>
            </dict>
            <key>welcome_hero.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{411,399}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,399}}</string>
                <key>sourceSize</key>
                <string>{411,399}</string>
            </dict>
            <key>welcome_playButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{1747,2},{176,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,106}}</string>
                <key>sourceSize</key>
                <string>{176,106}</string>
            </dict>
            <key>welcome_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1441,2},{304,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,208}}</string>
                <key>sourceSize</key>
                <string>{304,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hungryHero.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d88d21a77e63d09c5ad9c70382fd988$</string>
            <key>textureFileName</key>
            <string>hungryHero.png</string>
        </dict>
    </dict>
</plist>
